* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: -0.09rem;
  overflow-x: hidden;
  background-position: center;
}

@mixin blueCursor() {
  // Source: https://gist.github.com/dsdsdsdsdsds/bd142334efcd81f0b30e
  cursor: url("../assets/cursor.svg") 0 0, pointer; /* FF */
  cursor: -webkit-image-set(url("../assets/cursor.png") 1x, url("../assets/cursor@2x.png") 2x) 0 0, pointer; /* Webkit */
}

body {
  background: $gray;
  font-family: $america;
  @include blueCursor;
}
a {
  @include blueCursor;
}
