@mixin bp($point) {
  @if $point == l {
    @media (min-width: 75rem) {
      @content;
    }
  } @else if $point == m {
    @media (min-width: 50rem) {
      @content;
    }
  } @else if $point == s {
    @media (min-width: 35rem) {
      @content;
    }
  }
}

@font-face {
  font-family: "GT America Light";
  src: url("../assets/gt-america-extended-regular.woff") format("woff"), url("../assets/gt-america-extended-regular.woff2") format("woff2");
}

@keyframes pulsate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$gray: #c9c9c9;
$blue: #0408d9;
$black: rgb(10, 10, 10);
$america: "GT America Light", serif;
$transition-duration: 500ms;
