.home-grid {
    display: grid;
    grid-template-rows: repeat(7, calc(15rem + 5vh));
    grid-template-columns: repeat(2, 50%);
    @include bp(m){
        grid-template-columns: repeat(3, 33.33333vw);
        grid-template-rows: repeat(8, calc(13rem + 5vh));
    }
    img, video {
        max-width: 150%;
    //    max-height: 100vh;
        display: block;
    }
}

.home-livestream {
    overflow: hidden;
    background: $gray;
    grid-column-start: 1;
    grid-column-end: span 2;
    min-height: 30vh;
    position: relative;
    z-index: -100;
    @include bp(m){
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    iframe {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: scale(1.1);
        object-fit: cover;
        min-width: 500px;
        @include bp(m){
            min-width: 1300px;
        }
    }
}

.stream-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.live-indicator {
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    z-index: 100;
    &:before {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        background: white;
        border-radius: 100%;
        vertical-align: middle;
        position: relative;
        top: -3px;
        margin-right: .5rem;
        animation: pulsate 1s infinite alternate both;
    }
}

.home-image {
    &.rows-2 {
        grid-column-end: span 2;
        grid-row-end: span 1;
        @include bp(m){
            grid-column-end: span 1;
            grid-row-end: span 2;
        }
    }
    overflow: hidden;
    background-size: cover;
    background-color: $black;
    position: relative;
    min-height: calc(15rem + 5vh);
    max-height: none;
    grid-column-start: auto;
    @include bp(m){
    }
  img {
      display: block;
      object-fit: cover;
  }
}

.credit {
    opacity: 0;
    bottom: .5rem;
    left: .5rem;
    color: white;
    text-decoration: none;
    font-size: .9rem;
    transition: $transition-duration;
    position: absolute;
    transform: translateY(10px);
    .home-image:hover & {
        transform: translateY(0);
        opacity: 1;
    }
    &.color-black {
        color: $black;
    }
    &.color-white {
        color: white;
    }
}

.home-type {
    padding: .5rem;
    background: $gray;
    color: black;
    grid-column-start: 1;
    grid-column-end: span 3;
    @include bp(m){
        grid-column-end: span 1;
    }
    span {
        display: block;
    }
    h2 {
        font-size: calc(1rem + .5vw);
        margin-bottom: 1rem;
    }
}

.togglePeople{
    position: fixed;
    z-index: 150;
    margin-top: 5px;
    margin-right: 5px;
    top: 0;
    right: 0;
    border: none;
    display: none;
    background: none;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform $transition-duration;
    &:hover {
        box-shadow: none;
        outline: 0;
    }
    &.active {
        transform: rotate(180deg);
    }
    .box {
        fill: none;
    }
    .arrow {
        fill: white;
        
    }
}

button:hover{
    cursor: pointer;
}

.home-people {
    grid-column-end: span 2;
    grid-row-end: span 4;
    position: relative;
    z-index: 100;
}

.people-list{
    background: $gray;
    columns: 2;
    list-style: none;
    padding: 1rem;
    transition: 500ms;
}

.people-list-header {
    margin-bottom: 2rem;
    font-size: 1;
    font-size: 1.4rem;
    color: black;
    column-span: all;
    text-transform: uppercase;
}

.person {
    font-size: calc(.9rem + .7vw);
    text-decoration: none;
    font-weight: 100;
    color: $gray;
    color: black;
    display: block;
    &:hover, &:focus {
        opacity: .5;
    }
}