@font-face {
    font-family: "GT America Light";
    src: url("../assets/GT-America-Standard-Light.ttf") format("truetype"),
         url("../assets/GT-America-Standard-Light.woff") format("woff"),
}

@keyframes pulsate {
    from {opacity: 0}
    to {opacity: 1}
}

$gray: #c9c9c9;
$orange: #ea5200;
$black: rgb(10,10,10);
//$america: 'GT America Light', 'Franklin Gothic', Helvetica, sans-serif;
$america: 'GT America Light', serif;

$transition-duration: 500ms;

@mixin bp($point) {
    @if $point == l {
      @media (min-width: 65rem) { @content; }
    }
    @else if $point == m {
      @media (min-width: 50rem) { @content; }
    }
    @else if $point == s {
      @media (min-width: 35rem)  { @content; }
    }
  }