@font-face {
    font-family: "GT America Regular";
    src: url("../assets/GT-America-Trial-Regular.otf") format("opentype"),
}
@font-face {
    font-family: "GT America Italic";
    src: url("/assets/GT-America-Trial-Regular-Italic.otf") format("opentype"),
}
@font-face {
    font-family: "GT America Bold";
    src: url("/assets/GT-America-Trial-Bold.otf") format("opentype"),
}
@font-face {
    font-family: "GT America Bold Italic";
    src: url("/assets/GT-America-Trial-Bold-Italic.otf") format("opentype"),
}
@font-face {
    font-family: "GT America Light";
    src: url("../assets/GT-America-Trial-Light.otf") format("opentype"),
}
@font-face {
    font-family: "GT America Light Italic";
    src: url("/assets/GT-America-Trial-Light-Italic.otf.otf") format("opentype"),
}

@keyframes pulsate {
    from {opacity: 0}
    to {opacity: 1}
}

$gray: rgb(220,220,210);
$orange: #ea5200;
$black: rgb(10,10,10);
//$america: 'GT America Light', 'Franklin Gothic', Helvetica, sans-serif;
$america: 'GT America Light', serif;

$transition-duration: 500ms;