---
layout: base
---

<button class="togglePeople">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24">
        <path class='box' d="M0 0h24v24H0z" fill="none" />
        <path class='arrow' d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg>
</button>
<div class="home-grid">
    <div class="home-type">
        <h2>
            <span>CAMBERWELL COLLEGE OF ARTS</span>
            <span>BA GRAPHIC DESIGN 2018</span>
            <span>SUMMER SHOW</span>
        </h2>
        <h2>
            <span>16—23 JUNE</span>
            <span>45-65 PECKHAM ROAD</span>
            <span>LONDON SE5 8UF</span>
        </h2>
    </div>
    <div class="home-livestream">
        <iframe src="http://player.twitch.tv/?channel=camberwellgraphicdesign&muted=true&controls=false" height="720px" width="1280px" frameborder="0" scrolling="no"
            allowfullscreen="false" style="pointer-events: none;">
        </iframe>
        <span class="live-indicator">Live</span>
    </div>

    {% include home-image.html rows=2 %}
    {% include home-image.html %}
    {% include home-image.html %}
    {% include home-image.html %}
    <div class="home-type home-people">
        <nav class="people-list">

            <h2 class='people-list-header'>Graduates</h2>
            {% for person in site.data.names %}
            <a class="person" href="{{person.Website}}" target="_blank">{{person.first_name}} {{person.last_name}}</a>
            {% endfor %}
            </ul>
        </nav>
    </div>

    {% include home-image.html %}
    {% include home-image.html %}
    {% include home-image.html rows='2' %}
    {% include home-image.html %}
    {% include home-image.html %}
    {% include home-image.html %}
</div>